<!doctype html>
<html>
    <head>
       <meta charset="utf-8">
        <link rel="stylesheet" href="../css/bootstrap.css">
        <script src="//cloud.apizee.com/libs/jquery-1.9.0.min.js"></script>
        <script src="//cloud.apizee.com/apiRTC/apiRTC-latest.min.js"></script>
        <script src="../js/jquery-2.2.0.min.js"></script> 
        <script src="../js/jquery-ui.min.js"></script>
        <script src="../js/bootstrap.min.js"></script>
    </head>
    
    <body>
        
        <div class="row" style="border : 1px solid black;" id="videoConv">
            <div class="row" id="command">
            <!--   <input class="btn btn-info" value="Raccroher" id="hangup" disabled="true" />
               <input class="btn btn-info" value="" id="call" />
-->
            </div>
            <div class="col-md-4" id="local" style="position: absolute; ">
                <video id="myLocalVideo" autoplay="autoplay" muted="true" style=""></video>
            </div>
            <div class="col-md-8" id="remote" style="position: absolute;">
                <div id="myRemoteVideo" style="width:640px; height:440px;"></div>
                <div id="mini"><video width="20%" height="20%" id="myMiniVideo" autoplay="autoplay" muted="true"></video></div>
            </div>
        </div>
    </body>
    <script type="text/javascript">
        

        'use strict';
        var session = null,
            webRTCClient= null;
         //function createWebRTC(){
            
        //}
        /*
        function userMediaErrorHandler(e) {
            $("#call").attr("disabled", false).val("Call");
            $("#hangup").attr("disabled", true).val("Hangup");
        }
         function remoteHangupHandler(e) {
             
            
        }

        function incomingCallHandler(e) {
            alert('incomming');
            apiRTC.addEventListener("hangup", remoteHangupHandler);
            $("#call").attr("disabled", true).val("Call ongoing");
            $("#hangup").attr("disabled", false).val("Hangup");
            
        }
        function userMediaSuccessHandler(e){
           // alert('acces');
    
        }
        
        function receiveInfo(e){
            listGroupX = e.detail.connectedUsersListWithStatus;
            if(listGroupX.length ==2){
               webRTCClient.call($("#videoConv").attr('data')); 
            }
                
        }
        */
 
        function sessionReadyHandler(e) {
            //apiRTC.addEventListener("incomingCall", incomingCallHandler);
            
               webRTCClient = apiCC.session.createWebRTCClient({
                localVideo : "myLocalVideo",
                minilocalVideo : "myMiniVideo",
                remoteVideo : "myRemoteVideo"
            });
            
            //if  ($('#command').attr('data') == 'call'){
                //  webRTCClient.call($("#videoConv").attr('data'));       
            //}           
        }
   
        apiRTC.init({
            apiKey : "badedb11c75abb4a254d0f268452bf48",
            onReady : sessionReadyHandler,
        });
        
    </script>
</html>